// Define variables for your color scheme
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

/* As hex codes */

.color-primary-0 { color: #F7F7F7 }	/* Main Primary color */
.color-primary-2 { color: #6B58A8 }
.color-primary-3 { color: #626262 }
.color-primary-4 { color: #626262 }

/* quouch colors */
$background: #e36414; /* orange */
$accent_color: #fb8b24; /* orange */
$text-color: #9a031e; /* dark red */
$link-color: #9a031e; /* dark red */
$purple: #5f0f40; /*  */
$green: #0f4c5c; /*  */
