<div class="flex-container">
 <div id="title">
  <h3>Hosts In Berlin</h3>
 </div>
    <% @users.each do |user| %>
        <div class="card-product">
        <div id="profilephoto">
          <img src="<%= user.profile_picture_url %>">
          </div>
          <div class="card-product-infos">
            <h2><%link_to user.username , user_path(user) %></h2> 
            <p><%= user.bio %></p>
        </div>
           <div id="button">
    <%= link_to 'Meet me', user_path(user), class: "btn btn-info" %>
           </div>
        </div>
    <% end %>
</div>



