<div class="flex-grid">
   <div class="card" style="width: 18rem;">
   <div class="photo">
     <%=@user.profile_picture_url %>
     </div>
   <div class="card-body">
    <h5 class="card-title"><%= link_to "#{@user.username}" , user_path(@user) %></h5>
    <p class="card-text"><%= @user.bio %></p>
    <a href="#" class="btn btn-primary">Book A Room</a>
  </div>
</div>
</div>