<div class="flex-container">
<div id="header">
<%= link_to "<- Back", :back %>
</div>

<div class="card">
    <%=@user.profile_picture_url %>
</div>

<div class="card">
    <h4><b>John Doe</b></h4>
  </div>
<div class="card">
<p><%= @user.bio %></p>
</div>

<div class="card">

</div>

<div class="card">

</div>

<div class="contact">
<button type="button" class="btn btn-primary btn-lg btn-block">Contact Host</button>
</div>

</div>