
  <div class="banner-two">
    <div class="container">
    <h1>Pop yourself up a cold beer and celebrate life because... </h1>
    <p>...you will stay with: </p>

     <div class="input-group-btn">
            <%= button_tag "Go Back To The Other Cool Kids", :class => 'btn btn-info glyphicon glyphicon-search'%>
          </div>

    <!-- <div id="button">
    <%= link_to "Go Back To The Other Cool Kids", users_path, class: "btn btn-flat" %>
  </div> -->
</div>
</div>
