<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) image-url('sun.jpg')">
<div class = "banner-content">
    <h1>quouch</h1>
    <p>Couchsurfing from a female and queer perspective</p>
  </div>
</div>


