<<<<<<< HEAD
<div class="bg-img">
<%= content_for(:navbar_class, "navbar-home") %>
  
  <h1>QUOUCH</h1>
  <p>No more overnight stays with single men. </p>
  <div class ="searchbar">
   <%= form_tag(users_path, :method => "get", class: 'navbar-form navbar-left' ) do %>
     <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
    aria-describedby="search-addon" />
  <button type="button" class="btn btn-outline-primary">search</button>
        </div>
      </div>
    <% end %>
  </div>

</div>
