<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) image-url('ku.jpg')">
<div class = "banner-content text center">
    <h1><strong>Quouch</strong>!</h1>
    <h2>No more overnight stays with horny single men</h2>
    <p>The couchsurfing from a female and queer perspective</p>
    <a class="btn btn-ghost" href="#">Apply now</a>
  </div>
</div>
