.bg-img {
  height: 100vh;
  background-image: asset-url('jenga.jpg');
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: 30% 70%;
  // display: flex;
  // justify-content:center;
  // flex-direction: column;
  background-size: cover;
  // background-position: center;
  // align-items: center;
  //  color: black;

  font-family: Source Sans Pro;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  font-size: 80%;
}

.homepagebox h1 {
  font-size: 60px;
  color: white;
  padding-top: 16px;
  text-shadow: white;

}

.homepagebox p {
  font-size: 20px;
  color: white;
  padding-bottom: 16px;
}

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.searchbar {
  width: 100%;
  z-index: 100;
}

.searchbar p {
  font-size: 12px;
  padding-bottom: 0;
}

.homepagebox {
  height: 50vh;
  // background-color: #FB8B24;
  // display: flex;
  // justify-content: bottom;
    /* position: fixed; */
  position: absolute;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  width: 100vw;
  background: linear-gradient(0deg, rgba(227,100,20,1) 30%, rgba(251,139,36,1) 70%);

  text-align:center;
  .form-control {
    border-radius: 6px;
    border: 2px solid #9A031E;
    height: 50px;
    margin-bottom: 4px;
  }
  .btn {
    border-radius: 6px;
    height: 50px;
    z-index: 100;
  }
}


