.bg-img {
  height: 100vh;
  background-image: asset-url('x.png');
  display: flex;
  justify-content:center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  align-items: center;
   color: black;

  font-family: Source Sans Pro;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  font-size: 80%;
}

.bg-img h1 {
  font-size: 900%;
  color: #9a031e;
  padding-right: 60%;
  text-shadow: white;
  
}

.bg-img p {
  font-size: 200%;
  color: #0f4c5c;
  padding-left: 15%;
  padding-bottom: 20%;
  padding-right: 60%;
}

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.searchbar {
  padding-right: 60%;
}