.flex-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  text-align: left;
}

.upperbar {
  padding: 0;
}

.carousel-item img {
  width:100%;
  height: 100%;
  object-fit: cover;
}

.centered {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
 }

.carousel-item {
  height: 345px;
}


.card-body p {
  color: grey;
  font-size: 16px;
}

.reviews {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-left: 28px;
  margin-top: 12px;
  overflow-x: scroll;
}

.card-body h5 {
  font-size: 1.2em;
  font-weight: bolder;
  padding-top: 5px;
  padding-bottom: 10px;
}

.button-container {
  padding: 0 20px;
}

.stars {
  opacity: 1;
  padding-left: 2em;
}

.stars p {
  color: white;
}

.mapboxgl-canvas {
  height: 345px !important;
}


.reviews-title {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px 0;
  font-size: 12px;
  font-weight: 600;
}
