.flex-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  text-align: left;
}

.upperbar {
  padding-left: 0.8em;
}

.carousel-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.centered {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
}

.card-body p {
  color: black;
  font-size: 1em;
}

.reviews {
  width: 30em;
  display: flex;
  overflow-x: scroll;
}

.card-body h5 {
  font-size: 1.2em;
  font-weight: bolder;
  padding-top: 5px;
  padding-bottom: 10px;
}

.btn-primary {
  max-width: 75%;
}

.stars {
  background-color: #de8209;
  opacity: 0.6;
  padding-left: 2em;
}
.button-container{
  padding: 0 20px;
  font-weight: bolder;
  font-family: 'Source Sans Pro', sans-serif;
}
