.chat-container{
    position: relative;
    height: 480px;
    padding: 0px 20px;
    overflow-y: scroll;
}
.chatroom-username{
font-size: 20px;
}
.chatroom-header    {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-top: 12px;
    border-bottom: 1px solid #cecdcd;

    .time-date{
        margin: 0px 10px;

    }
    .user-header{
        display: flex;
        img{
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
        }
        h3{
            margin: 0px 10px;
        }
    }
    .user-left{
        order: 1;
        align-items: center;

    }
    .user-right{
        order: 2;
        display: flex;
        align-items: center;

        h3{
            order:1;
        }
        img{
            order:2;
        }
    }
}
#messages{
    margin-top: 40px;
}

/* mesage_________________________ */
.message-container{
    opacity: 0;
    display: flex;
    margin-bottom: 16px;

    .message-picture {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        object-fit: cover;
    }

    small {
        font-size: 12px;
    }

    .username-time-container{
        margin: 0 12px;
        order:1;
    }
}

.sent-message{
    opacity: 1;
    .author{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    p{
        color: $text-color;
        font-weight: bold;
    }
    .username-time-container {
        order: 2;
    }
    .message-picture {
        order: 1;
    }
}

.received-message{
    opacity: 1;
    justify-content: flex-end;
    p {
        color: $background;
    font-weight: bold;
    }
    .username-time-container {
        order: 1;
    }
    .message-picture {
        order: 2;
    }
    .author{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img{
            order:2;
        }

    }
    .message-content{
        display: flex;
        justify-content: flex-end;
        p{
            color: $background;
            font-weight: bold;
        }
    }
}
.author{
    img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
    }
    margin-bottom: 10px;
}
/* _______________________________chat form */
.message-form-container{
    position: sticky;
    bottom: 50px;
    padding: 0 20px;
    background-color: #e8e8e8;
    padding: 16px;
}

/* ___________________ chatrooms index */

.chatroom-container{
    padding: 20px 20px 0 20px;
}
.chatrooms-index-card{
    display: flex;
    align-items: center;

    img{
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }
    .chatrooms-index-card-name{
        margin: 0 0 0 10px;
    }
    .chatrooms-index-card-link{
        margin-left: 20px;
    }
}
.chatrooms-index-card-ul{
    list-style: none;
    padding: 0;
}
.chatrooms-header{
    margin: 16px 0;
    padding-bottom: 6px;
    border-bottom: 1px solid grey;
}

.chat-link {
    position: relative;
    width: 100%;
    padding: 16px;
    background-color: #f2f2f2;
    border-radius: 16px;
    margin-bottom: 16px;
}
.chat-card {
    display: flex;
    align-items: center;
}


