.chat-container{
    position: relative;
    height: 100vh;
    padding: 0px 20px;
    
}

.chatroom-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    
    border-bottom: 1px solid #cecdcd;
.time-date{
    margin: 0px 10px;
  
}
    .user-header{
        display: flex;
        img{
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
        }
        h3{
            margin: 0px 10px;
        }
    }
    .user-left{
        order: 1;
    }
    .user-right{
        order: 2;
        display: flex;
        h3{
            order:1;
        }
        img{
            order:2;
        }
    }
}
#messages{
    margin-top: 40px;
}

/* mesage_________________________ */
.message-right{
    .author{
        display: flex;
        justify-content: flex-end;
        img{
            order:2;
        }
        .username-time-container{
            order:1;
        }
    }
    .message-content{
        display: flex;
        justify-content: flex-end;
        p{
            color: $background;
            font-weight: bold;
        }
    }
}
.message-left{
    .author{
        display: flex;
        justify-content: flex-start;
    }
    p{
        color: $text-color;
        font-weight: bold;
    }
}
.author{
    img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        
    }
    margin-bottom: 10px;
}
/* _______________________________chat form */
.message-form-container{
    position: sticky;
    bottom: 80px;
}

/* ___________________ chatrooms index */

.chatroom-container{
    padding: 20px 20px 0 20px;
}
.chatrooms-index-card{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    
    img{
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }
    .chatrooms-index-card-name{
        margin: 0 0 0 10px;
    }
    .chatrooms-index-card-link{
        margin-left: 20px;
    }
}
.chatrooms-index-card-ul{
    list-style: none;
    padding: 0;
}
.chatrooms-header{
    margin-top: 10vh;
}


