
// .nav{
//   padding: 10px;
//   height: 15vh;
//   background-image: asset-url('nav-pic.gif');
//   background-size: cover;
// }

// .nav-logo-img{
//   height: 100%;
//   width: 150px;
//   background-image: asset-url('logo1.png');
//   background-size: contain ;
//   background-repeat: no-repeat;
// }
.navbar-home {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: none;
  .navbar-wagon-link {
    color: white;
    font-weight: bold;
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: none;
  position: fixed;
  width: 100%;
  background-color: white;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
