
// .nav{
//   padding: 10px;
//   height: 15vh;
//   background-image: asset-url('nav-pic.gif');
//   background-size: cover;
// }

// .nav-logo-img{
//   height: 100%;
//   width: 150px;
//   background-image: asset-url('logo1.png');
//   background-size: contain ;
//   background-repeat: no-repeat;
// }
.navbar-home {
  width: 100%;
  box-shadow: none;
  .navbar-wagon-link {
    color: white;
    font-weight: bold;
  }
}

.navbar-lewagon {
  display:flex;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  justify-content: space-between;
  background: none;
  width: 100%;
  background-color: #E36413;
  padding: 18px;
  .fas {
  color: white;
  position: top;
  font-family: $body-font;
  font-weight: bolder;
  padding-left: 20px;
  padding-right: 20px;
}

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  color:white;
}

