.review-card{
  position: relative;
  padding: 12px;
  margin-right: 16px;
  width: 310px;
  border-bottom: 1px solid #D3D3D3;
  border-radius: 6px;
  background: linear-gradient(0deg, rgba(227,100,20,1) 0%, rgba(251,139,36,1) 70%);
  overflow: hidden;
}

.blockquote {
  height: 100%;
  font-size: 0.7em;

  p {
    margin: 0;
    color: white;
    font-size: 16px;
    font-weight: 600px;
  }

  span {
    display: block;
    margin-top: 16px;
    color: white;
  }
}
