.user-card{
    display: flex;
    width: 100%;
    
}
.img-contianer{
  flex: 1; 
  img{
    height: 70%;
    border-radius: 50%;
} 
}
.text-contianer{
    flex: 1;
}

/* .couch-img{
    width: calc(100% / 3);
} */

.couch-img-container{
    display: flex;
    margin-top: 50px;
    img{
        width: calc(100% / 3);
        height: 200px;
        margin-right: 10px;
    }
}