.user-card{
    display: flex;
    width: 100%;
}
.img-contianer{
  flex: 1  
}
.text-contianer{
    flex: 1;
}

/* .couch-img{
    width: calc(100% / 3);
} */

.couch-img-container{
    display: flex;
    margin-top: 50px;
    img{
        width: 30%;
        margin-right: 10px;
    }
}