.user-card{
    display: flex;
    width: 100%;
    
}
.img-contianer{
  flex: 1; 
  .profile-picture{
    height: 70%;
    border-radius: 50%;
} 
}
.text-contianer{
    flex: 1;
}

.couch-img-container{
    display: flex;
    margin-top: 50px;
    img{
        width: calc(100% / 3);
        height: 200px;
        object-fit: cover; 
    }
}

p.user-card-bio{
    font-weight: 600;
}

