.chatroom-container{
    padding: 20px 20px 0 20px;
}
.chatrooms-index-card{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    
    img{
        width: 50px;
        border-radius: 50%;
    }
    .chatrooms-index-card-name{
        margin: 0 0 0 10px;
    }
    .chatrooms-index-card-link{
        margin-left: 20px;
    }
}
.chatrooms-index-card-ul{
    list-style: none;
    padding: 0;
}
.chatrooms-header{
    margin-top: 10vh;
}