  <div class="banner-two">
    <div class="container">
    <h1>Pop yourself up a cold beer and celebrate life !</h1>

     <div class="input-group-btn">
            <%= button_tag "Go Back To The Other Cool Kids", :class => 'btn btn-info glyphicon glyphicon-search'%>
          </div>
      </div>
</div>
